        /* Background Styling */
        .bg{
            background: url("https://cdn.pixabay.com/photo/2016/03/12/23/18/man-1253004_960_720.jpg");
            width: 100%;
            background-position: fixed;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: contain;
            background-color: black;
        }
        
        .background12{
            background-color: white;
            width: 100%;
            background-repeat: no-repeat;
            
        }
        
        .background21{
            background-color: black;
            width: 100%;
            background-repeat: no-repeat;
        }
        
        /* Text Styling */
        h1{
            color: white;
            text-align: center;
            text-decoration: solid;
            font-size: 80px;
            font-family:'Times New Roman', Times, serif;
            font-weight: bolder;
            letter-spacing: 5px;
            word-spacing: 5px;
            padding-top: 250px;
        }
        
        a{
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-transform: uppercase;  
        
        }
        
        .txt{
            color: black;
            text-align: center;
            font-size: 100px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
        }
        
        /* Image Styling */
        img{
            width: 350px;
            height: 350px;
        }
        /* Paragraph Styling */
        p{
            font-size: larger;
            font-weight: bolder;
            font-family: 'Courier New', Courier, monospace;
            padding: 50px;
        }
        
        /* Background Styling */
        .container{
            display: grid;
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: 350px 350px 350px;
            grid-gap: 200px;
            padding: 10px;
        }
        
        
        .bg1{
            background-color: red;
            width: 350px;
            height: 500px;
            text-align: center;
            color: aliceblue;
            justify-content: center;
           
        }
        
        .bg2{
            background-color: blueviolet;
            width: 350px;
            height: 500px;
            text-align: center;
            color: aliceblue;
            justify-content: center;
        }
        
        .bg3{
            background-color: blue;
            width: 350px;
            height: 500px;
            text-align: center;
            color: aliceblue;
            justify-content: center;
        }
        
        .bg4{
            background-color: green;
            width: 350px;
            height: 500px;
            text-align: center;
            color: aliceblue;
            justify-content: center;
        }
        
        .bg5{
            background-color: orange;
            width: 350px;
            height: 500px;
            text-align: center;
            color: aliceblue;
            justify-content: center;
        }
        
        /* Button Styling */
        .bt{
            color: white;
            background-color: dodgerblue;
            width: 20%;
            height: 10%;
            border: 2px solid white;
        
        }
        
        .bt:hover {
            background-color: green;
        
        }
        
        